<!DOCTYPE html>
<html>

<head>
    <% include ../static/partials/head.ejs %>
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil|Oswald:700|Roboto" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body class="indexBG">
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

        <% include ../static/partials/messages.ejs %>


        <h1 class="indexList">Shopping List</h1>

        <form action="/items/create" method="post">
            <div class="form-group">
                    <div class="col-md-6">
                        
                <input type="text" class="form-control" id="titleStyle" name="title" aria-describedby="titleHelp"
                    placeholder="Enter Item">
            </div>
            <button class="btn-add-item"><i class="fa fa-plus-square"></i> Add</button>

              </form>

        <ul class="list-group">
                <div class="col-md-6">

            <% items.forEach((item) => { %>
            <li class="list-group-item">
                <% if(item.purchased != true) { %>
                <a href="/items/<%= item.id %>"> <%= item.title %> </a>
                <% } else {  %>
                <del class="wasPurchased"> <a href="/items/<%= item.id %>"> <%= item.title %> </a></del>
                <i class="icon ion-md-checkmark"></i>

                <% } %>

            </li>
            <% }) %>
        </ul>

    </main>
</body>

</html>