body {
    padding-top: 54px;
  }

 
/* static index */
.staticBG{
    background-image: url(.././css/images/carts.jpg );
    background-size: cover
}

.display-3, .lead{
    background: rgb(114, 27, 27, .5);

}
.lead{
    font-size: x-large;
}
h1 {
    padding-top: 10px;
    font-family: 'Allerta Stencil', sans-serif;    
      
}

.col-lg-6{
    color: #f8faf9;
    font-family: 'Oswald', sans-serif;


}


 .card-text, .card-title{
    background: rgb(114, 27, 27, .5);

}

.card-text{
    font-size: x-large
    }

/* item index */
.indexBG{
    background-image: url(../css/images/marketstreet.jpg );
    background-position:center;
    background-size: cover


}
.icon {
    font-size: 25px;
    padding-left: 2.5px;
}
.jumbotron {
    background-color: transparent;

}
 .indexList{
    padding-top: 5px;
    font-family: 'Allerta Stencil', sans-serif; 
    color: white;
    

}

.display-3, .lead {
    color: #f8faf9;
    text-align: center;
    
}
 

  /* new item */
 .new-item-form {
    margin-top: 30px;
 }
 h3 {
    color: #f8faf9;
    text-align: center;

 }
 
 .list-group-item {
    font-size: 1.2em;
    padding-right: 15px;
 }

 .btn-add-item {
    margin-bottom: 35px;
}

